<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="ColoredConsole" name="console" layout="${date:format=HH\:mm\:ss} ${message}"/>
      <target xsi:type="File" keepFileOpen="true" ConcurrentWrites="false" CleanupFileName="false" name="file" fileName="C:/ElectricShopLog/DatabaseDAL-${date:format=yyyyMMdd}-${processid}.log" layout="${date} ${level} ${logger} ${message}" archiveFileName="C:/ElectricShopLog/DatabaseDAL.{#####}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" enableArchiveFileCompression="false"/>
      <target xsi:type="File" keepFileOpen="true" ConcurrentWrites="false" CleanupFileName="false" name="fileRunLog" fileName="C:/ElectricShopLog/DatabaseDAL-${date:format=yyyyMMdd}-${processid}.txt" layout="${date} ${level} ${logger} ${message}" archiveFileName="C:/ElectricShopLog/DatabaseDAL_Run.{#####}.zip" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" enableArchiveFileCompression="false"/>
    </targets>
    <rules>
      <logger name="ElectricShop.Common.TestLog" level="Trace" writeTo="fileRunLog"/>
      <logger name="*" minlevel="Debug" writeTo="console"/>
      <logger name="*" minlevel="Info" writeTo="file"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
